* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
    }
  a{
    text-decoration: none;
    }
  a img {
    border: none;
    }
    
  button,
  a {
    cursor: pointer;
    color: inherit;
    }
    
  textarea {
    resize: none;
    }
    
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
    }
  
  /*End of CSS reset*/

html,body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

nav{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: rgb(0, 0, 5);
}

header{
    position: fixed;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    padding-top: 15px;
    z-index: 101;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(253, 255, 253);
}

#heading{
    display: flex;
    flex-direction: column;
    height: 550px;
    align-items: center;
    justify-content: center;
    margin: auto;
    color:rgb(253, 255, 253);
    background-color: rgb(0, 0, 5);
    
}

#heading a{
    font-weight: 500;
}

#heading h1{
    margin: 30px 30px 30px 30px;
    text-transform: uppercase;
    font-size: 100px
}

#pagescroll1{
    display: flex;
    margin-bottom: 550px;
    background-color: rgb(253, 255, 253); 
}

.flex-child{
    flex: 1;
}

.flex-child.pictures{
    position: relative;
    width: 100%
   
}

.pictureDiv1{
    position: absolute;
    right: 450px;
    top: 220px;
    z-index: 98;
}

.pictureDiv2{
    position: absolute;
    right: 150px;
    top: 250px;
    z-index: 99
}

.pictureDiv3{
    position: absolute;
    top: 600px;
    right: 450px;
    z-index: 100
}

#pagescroll1 h2{
    margin: 220px 30px 30px 100px;
    text-transform: uppercase;
    font-size: 30px
}

#pagescroll1 .subhead{
    text-decoration-line: underline;
    text-decoration-color: #ed4255;
}

.subhead2{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#A20417;
    text-transform: uppercase
}

.content{
    display: block;  
    width: 85%;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 25px;
    line-height: 1.4;
    color:rgb(125, 128, 125)
}

#pagescroll2{
    background-position: center center;
    background-image: url(./wp2366362-sunglasses-wallpapers.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    color:rgb(253, 255, 253);
}


#box{
    position: relative;
    top: 200px;
    width: 35%;
    max-width: 600px;
    margin-left: 1100px;
    padding: 40px 20px 40px 20px;
    line-height: 1.4; 
    letter-spacing: normal;
    background: rgba(57, 148, 223, 0.3);
}

#box p5, h5, button{
    justify-content: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#box p5{
    font-size: 15px;
    font-weight: 200
}

#box h5{
    font-size: 25px;
    font-weight: 500;
    line-height: 1,2;
}

#box .content2{
    text-transform: none
}

#box h5 .underlined{
    text-decoration-line: underline;
    text-decoration-color: #ed4255;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    padding: 18px 42px 18px 42px;
    font-size: 17px;
    white-space: nowrap;
    background-color: #ed4255;

}